.vscode/**
.vscode-test/**
src/**
webview/**
out/**
test/**
node_modules/**
.gitignore
.eslintrc.json
**/*.map
**/*.ts
**/*.tsx
!dist/extension.js
!dist/webview.js
!dist/bin/**
!media/**
esbuild.config.mjs
tsconfig.json
vitest.config.ts
